.device_row {
	display: flex;
	flex-direction: row;
	text-align: center;
	overflow: hidden;
	color: #656565;
}

.device_entry img {
	margin: 3em;
	flex: 4 0;
}

.device_entry {
	
}

.device_name {
	flex: 1 0 4em;
}

.device_row a {
	color: #A4C639;
	text-decoration: none;
}

.device_row a:hover {
	color: #DB4A39;
}

.device_details {
	flex: 1 0 4em;
}
	